
<!doctype html>
<html lang="pt_BR">
<head th:replace="~{/fragments/base :: headfiles('Autenticação', ~{::link})}">
    <link th:href="@{/css/auth.css}" rel="stylesheet">
</head>
<body class="text-center">


<form class="form-signin" th:action="@{/auth/valide}" method="POST" th:object="${usuario}">
        <div class="row d-flex justify-content-center align-items-center h-50">
            <div class="col col-xl-20">

                <div class="card" style="border-radius: 1rem; margin:30px 25% 30px 25%;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <div>

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fa-solid fa-shop fa-2x me-3"></i>
                                        <span class="h1 fw-bold mb-0">EstagioTrack</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Entre na sua conta</h5>

                                    <div th:if="${not #strings.isEmpty(mensagem)}"
                                         th:utext="${mensagem} +'<button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;><span aria-hidden=&quot;true&quot;>&times;</span></button>'"
                                         class="alert alert-danger alert-dismissible fade show" role="alert">
                                    </div>

                                    <!--

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="form2Example17" class="form-control form-control-lg" required autofocus th:field="*{email}" name="email" placeholder="Email"/>
                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Senha" required th:field="*{senha}"  name="password"/>
                                    </div>
                                    -->

                                    <label  class="sr-only" style="text-align: left; display: block;">Login</label>
                                    <input type="text" class="form-control input-login" placeholder="Login" required autofocus
                                           name="username">
                                    <label class="sr-only mt-3" style="text-align: left; display: block;">Senha</label>
                                    <input type="password" class="form-control input-login" placeholder="Senha" required
                                           name="password">


                                    <div class="checkbox mb-3">
                                        <label> <input type="checkbox" value="lembrar">
                                            Lembrar-me
                                        </label>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="form-control form-control-lg btn btn-dark btn-lg btn-block" >Login</button>
                                    </div>

                                    <p class="mb-5 pb-lg-2" style="color: #393f81; display: grid;">Não possui conta?
                                        <a href="#" th:href="@{/empresas/form}" style="color: #393f81;">Cadastrar-se como Empresa</a>
                                        <a href="#" th:href="@{/alunos/form}" style="color: #393f81;">Cadastrar-se como Estudante</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>


</body>
</html>
