<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}" th:with="titulo='Aplicações Estudante'">>

<body>
    <div layout:fragment="content" class="container">
        <h1 class="title">Minhas Aplicações | Estudante</h1>

        <h2 class="subtitle" style="font-size: 26px;">Dados do Estudante</h2>
        <p>Nome: <strong><span th:text="${aluno.nome}"></span></strong></p>
        <p>Email: <strong><span th:text="${aluno.email}"></span></strong></p>

        <h2 class="subtitle" style="font-size: 26px;">Candidaturas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th  style="text-align: center;">Aluno</th>
                    <th  style="text-align: center;">Oferta</th>
                    <th  style="text-align: center;">Empresa</th>
                    <th  style="text-align: center;">Status</th>
                    <th  style="text-align: center;">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(candidaturas)}">
                    <td colspan="4">Nenhuma candidatura encontrada</td>
                </tr>
                <tr th:each="candidatura : ${candidaturas}">
                    <td th:text="${candidatura.alunoCandidato.nome}"></td>
                    <td>
                        <a th:if="${candidatura.ofertaSelecionada != null}"
                            th:href="@{/ofertas/detalhes/}+${candidatura.ofertaSelecionada.id}"
                            th:text="${candidatura.ofertaSelecionada.tituloCargo}"></a>
                    </td>
                    <td>
                        <a th:if="${candidatura.ofertaSelecionada != null and candidatura.ofertaSelecionada.ofertante != null}"
                            th:href="@{/empresas/detalhes/}+${candidatura.ofertaSelecionada.ofertante.id}"
                            th:text="${candidatura.ofertaSelecionada.ofertante.razaoSocial}"></a>
                    </td>
                    <td th:text="${candidatura.statusCandidatura}">Status</td>
                    <td  style="text-align: center;">
                        <a th:if="${candidatura.statusCandidatura.name() == 'APROVADA'}" th:text="'Baixar termo'" th:href="TODO">
                            <span class="material-symbols-outlined">Baixar termo</span>
                        </a>
                        <span th:if="${candidatura.statusCandidatura.name() != 'APROVADA'}">-</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="form-button-cancel"><a th:href="@{/home}" class="cancel-link">Voltar</a></button>
    </div>
</body>

</html>