<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Aplicações Estudante'">>

<body>
    <div layout:fragment="content" class="container">
        <h1 class="title">Minhas Aplicações | Estudante</h1>

        <h2 class="subtitle">Dados do Estudante</h2>
        <p><strong>Nome:</strong> <span th:text="${aluno.nome}"></span></p>
        <p><strong>Email:</strong> <span th:text="${aluno.email}"></span></p>

        <h2 class="subtitle">Candidaturas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Oferta</th>
                    <th>Empresa</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(candidaturas)}">
                    <td colspan="4">Nenhuma candidatura encontrada</td>
                </tr>
                <tr th:each="candidatura : ${candidaturas}">
                    <td th:text="${candidatura.alunoCandidato.nome}"></td>
                    <td>
                        <a th:if="${candidatura.ofertaSelecionada != null}"
                            th:href="@{/ofertas/detalhes/}+${candidatura.ofertaSelecionada.id}"
                            th:text="${candidatura.ofertaSelecionada.tituloCargo}"></a>
                    </td>
                    <td>
                        <a th:if="${candidatura.ofertaSelecionada != null and candidatura.ofertaSelecionada.ofertante != null}"
                            th:href="@{/empresas/detalhes/}+${candidatura.ofertaSelecionada.ofertante.id}"
                            th:text="${candidatura.ofertaSelecionada.ofertante.razaoSocial}"></a>
                    </td>
                    <td th:text="${candidatura.statusCandidatura}">Status</td>
                    <td th:if="${candidatura.statusCandidatura.name() == 'APROVADA'}">
                        <a th:text="'Baixar termo'" th:href="TODO">
                            <span class="material-symbols-outlined">Baixar termo</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>