<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Ofertas Empresa'">>>

<body class="listofertas">
    <div layout:fragment="content" class="container listofertas">
        <h1 class="page-title listofertas">Minhas ofertas | Empresa</h1>

        <h2 class="listofertas">Dados da Empresa</h2>
        <p class="listofertas">CNPJ: <span th:text="${empresa.cnpj}"></span></p>
        <p class="listofertas">Email: <span th:text="${empresa.email}"></span></p>
        <table class="offers-table listofertas" th:if="${!#lists.isEmpty(ofertas)}">
            <thead>
                <tr>
                    <th>Cargo</th>
                    <th>Valor da bolsa</th>
                    <th>Carga horária</th>
                    <th>Vale Transporte</th>
                    <th>Requisitos específicos</th>
                    <th>Competências</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(ofertas)}">
                    <td colspan="4">Nenhuma oferta encontrada</td>
                </tr>
                <tr th:each="oferta : ${ofertas}">
                    <td><a th:href="@{/ofertas/detalhes/}+${oferta.id}" th:text="${oferta.tituloCargo}"></a></td>
                    <td th:text="${oferta.valorBolsa}"></td>
                    <td th:text="${oferta.cargaHoraria}"></td>
                    <td th:text="${oferta.valeTransporte}"></td>
                    <td th:text="${oferta.requisitos}"></td>
                    <td>
                        <ul class="competencies-list listofertas">
                            <li th:each="competencia : ${oferta.competencias}" th:text="${competencia}"></li>
                        </ul>
                    </td>
                    <td th:text="${oferta.status}"></td>
                    <td th:if="${oferta.statusOferta.name() == 'ABERTA'}">
                        <form th:action="@{/ofertas/desativar}" method="post" class="action-form listofertas">
                            <input type="hidden" name="ofertaId" th:value="${oferta.getId()}" />
                            <button type="submit" class="form-button listofertas">Encerrar</button>
                        </form>
                    </td>
                    <td th:if="${oferta.statusOferta.name() == 'INTERROMPIDA'}">
                        <form th:action="@{/ofertas/reativar}" method="post" class="action-form listofertas">
                            <input type="hidden" name="ofertaId" th:value="${oferta.getId()}" />
                            <button type="submit" class="form-button listofertas">Reativar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="form-button-cancel listofertas"><a th:href="@{/form}"
                class="cancel-link listofertas">Voltar</a></button>
    </div>
</body>

</html>