<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Estudante'">

<body>
    <div layout:fragment="content" class="container">

        <div th:if="${success}" class="alert alert-success" id="successPopup">
            <p th:text="${success}"></p>
        </div>

        <h1 class="detail-title">Detalhes do Aluno</h1>
        <div class="details-curriculo">
            <div class="student-name">
                <p th:text="${aluno.nome}"></p>
            </div>
            <div class="section">
                <h2>Informações Pessoais</h2>
                <p class="detail-item">Email: <span th:text="${aluno.email}"></span></p>
                <p class="detail-item">Usuário: <span th:text="${aluno.nomeUsuario}"></span></p>
                <p class="detail-item">Gênero: <span th:text="${aluno.genero}"></span></p>
            </div>
            <div class="section">
                <h2>Competências</h2>
                <p class="detail-item">
                    <span th:each="competencia, iterStat : ${aluno.competencias}">
                        <span th:text="${competencia}"></span><span th:if="${!iterStat.last}">, </span>
                    </span>
                </p>
            </div>
        </div>

        <button class="form-button-cancel"><a th:href="@{/ofertas/listOfertasAbertas}" class="cancel-link">Ir para ofertas</a></button>
    </div>
</body>

</html>
