<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="titulo='Estudante'"
>
<body>
    <div layout:fragment="content" class="container">

        <h1 class="title">Detalhes do Estudante</h1>

        <div class="details">
            <p><strong>Nome:</strong> <span th:text="${aluno.nome}"></span></p>
            <p><strong>Email:</strong> <span th:text="${aluno.email}"></span></p>
            <p><strong>Usuário:</strong> <span th:text="${aluno.nomeUsuario}"></span></p>
            <p><strong>Gênero:</strong> <span th:text="${aluno.genero}"></span></p>
            <p><strong>Competências:</strong>
                <span th:each="competencia, iterStat : ${aluno.competencias}">
                    <span th:text="${competencia}"></span><span th:if="${!iterStat.last}">, </span>
                </span>
            </p>

        </div>

        <button class="form-button-cancel"><a th:href="@{/alunos}" class="cancel-link">Voltar para lista</a></button>
    </div>
</body>
</html>
