<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/alunos-form.css}">
</head>     
<body>
<div layout:fragment="content" class="container">

    <h1 class="form-title">Cadastro de Estudantes</h1>

    <form th:action="@{/alunos/save}" method="POST" th:object="${aluno}" class="form-student">
        <div th:if="${alert}" class="alert" style="color: red;">
            <p th:text="${alert}"></p>
        </div>

        <label for="nome" class="form-label">Nome completo:</label>
        <input type="text" th:field="*{nome}" class="form-input" id="nome" required /> <br />

        <label for="email" class="form-label">Email:</label>
        <input type="email" th:field="*{email}" class="form-input" id="email" required /> <br />

        <label for="nomeUsuario" class="form-label">Nome de usuário:</label>
        <input type="text" th:field="*{nomeUsuario}" class="form-input" id="nomeUsuario" required /> <br />

        <label for="senha" class="form-label">Senha:</label>
        <input type="password" th:field="*{senha}" class="form-input" id="senha" required /> <br />

        <label class="form-label">Gênero:</label>
        <div class="form-radio-group">
            <input type="radio" th:field="*{genero}" id="Masculino" value="Masculino" class="form-radio">
            <label for="Masculino" class="form-radio-label">Masculino</label><br>
            
            <input type="radio" th:field="*{genero}" id="Feminino" value="Feminino" class="form-radio">
            <label for="Feminino" class="form-radio-label">Feminino</label><br>
            
            <input type="radio" th:field="*{genero}" id="Outro" value="Outro" class="form-radio">
            <label for="Outro" class="form-radio-label">Outro</label><br>
        </div>

        <label class="form-label">Competências:</label>
        <div class="form-checkbox-group">
            <input type="checkbox" th:field="*{competencias}" id="C" value="C" class="form-checkbox">
            <label for="C" class="form-checkbox-label">C</label><br>

            <input type="checkbox" th:field="*{competencias}" id="C#" value="C#" class="form-checkbox">
            <label for="C#" class="form-checkbox-label">C#</label><br>

            <input type="checkbox" th:field="*{competencias}" id="C++" value="C++" class="form-checkbox">
            <label for="C++" class="form-checkbox-label">C++</label><br>

            <input type="checkbox" th:field="*{competencias}" id="CSS" value="CSS" class="form-checkbox">
            <label for="CSS" class="form-checkbox-label">CSS</label><br>

            <input type="checkbox" th:field="*{competencias}" id="HTML" value="HTML" class="form-checkbox">
            <label for="HTML" class="form-checkbox-label">HTML</label><br>

            <input type="checkbox" th:field="*{competencias}" id="Java" value="Java" class="form-checkbox">
            <label for="Java" class="form-checkbox-label">Java</label><br>

            <input type="checkbox" th:field="*{competencias}" id="JavaScript" value="JavaScript" class="form-checkbox">
            <label for="JavaScript" class="form-checkbox-label">JavaScript</label><br>

            <input type="checkbox" th:field="*{competencias}" id="Python" value="Python" class="form-checkbox">
            <label for="Python" class="form-checkbox-label">Python</label><br>

            <input type="checkbox" th:field="*{competencias}" id="Ruby" value="Ruby" class="form-checkbox">
            <label for="Ruby" class="form-checkbox-label">Ruby</label><br>

            <input type="checkbox" th:field="*{competencias}" id="SQL" value="SQL" class="form-checkbox">
            <label for="SQL" class="form-checkbox-label">SQL</label><br>
        </div>

        <input type="submit" value="Salvar" class="form-button" />
    </form>
    
    <button class="form-button-cancel"><a th:href="@{/form}" class="cancel-link">Cancelar</a></button>

</div>
</body>
</html> 

<!-- Pensar em redirecionar para a página inicial ou para ofertas depois do cadastro. Não faz sentido os alunos verem a lista de alunos cadastrados. -->