<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="titulo='Lista Estudante'"
>
<body>
    <div layout:fragment="content" class="container">

        <h1 class="title">Estudantes Cadastrados</h1>

        <div th:if="${#lists.isEmpty(alunos)}">
            <p>Nenhum estudante cadastrado</p>
        </div>

        <table class="table" th:if="${!#lists.isEmpty(alunos)}">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Nome de Usuário</th>
                    <th>Gênero</th>
                    <th>Competências</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno : ${alunos}">
                    <td><a th:href="@{/alunos/detalhes/}+${aluno.id}" th:text="${aluno.nome}"></a></td>
                    <td th:text="${aluno.email}"></td>
                    <td th:text="${aluno.nomeUsuario}"></td>
                    <td th:text="${aluno.genero}"></td>
                    <td>
                        <ul>
                            <li th:each="competencia : ${aluno.competencias}" th:text="${competencia}"></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="form-button-cancel"><a th:href="@{/coordenador/dashboard}">Voltar</a></button>
    </div>
</body>

</html>
