<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<body>
    <div layout:fragment="content" class="container">
        <h2 class="title">Acesso à Coordenação</h2>
        <form action="#" th:action="@{/coordenador/validar}" method="post" >
            <div class="form-group">
                <label for="pin" class="form-label">Insira o PIN de acesso:</label>
                <input type="password" id="pin" name="pin" class="form-input" required>
                <button type="submit" class="form-button">Entrar</button>
            </div>
                
            
        </form>
        <p th:if="${erro}" th:text="${erro}" class="alert"></p>
    </div>
</body>
</html>
