<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Pagina Coordenação'">

<body>
    <div layout:fragment="content" class="container">
        <h1 class="title">Bem-vindo à página da Coordenação!</h1>
        <p class="description">Aqui estão as funcionalidades disponíveis para coordenação.</p>
        <div class="button-group">
            <a class="nav-item nav-link" th:href="@{/alunos}">
                <button class="form-button-group">Listar Estudantes</button>
            </a>
            <a class="nav-item nav-link" th:href="@{/empresas}">
                <button class="form-button-group">Listar Empresas</button>
            </a>
            <a class="nav-item nav-link" th:href="@{/ofertas}">
                <button class="form-button-group">Listar Ofertas</button>
            </a>
            <a class="nav-item nav-link" th:href="@{/coordenador/candidaturas}">
                <button class="form-button-group">Listar Candidaturas</button>
            </a>
            <a class="nav-item nav-link" th:href="@{/estagios}">
                <button class="form-button-group">Listar Estágios</button>
            </a>
        </div>
    </div>
</body>

</html>