<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro no EstagioTrack</title>
</head>
<body>

<h2>Realize seu cadastro em nosso sistema.</h2>
<h2>Informe seus dados abaixo:</h2>

<!--
<form th:action="@{/usuarios/save}" method="POST" th:object="${usuario}">
    Nome: <input type="text" th:field="*{nome}"/> <br/>
    Email: <input type="text" th:field="*{email}"/> <br/>
    Tipo: Empresa ou aluno.
    Senha: <input type="password" th:field="*{senha}"/> <br/>
    <input type="submit" value="salvar" />
</form>
-->
</body>
</html>