<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/empresas-form.css}">
</head>
<body>
    <div class="container" layout:fragment="content">
        <div th:if="${alert}" style="color: red;">
            <p th:text="${alert}"></p>
        </div>

        <h1 class="title">Cadastro de Empresas</h1>

        <form th:action="@{/empresas/save}" method="POST" th:object="${empresa}" id="form" class="form-empresa">
            <div class="form-group">
                <label for="razaoSocial" class="form-label">Nome da Empresa:</label>
                <input type="text" th:field="*{razaoSocial}" class="form-input" required />
            </div>

            <div class="form-group">
                <label for="cnpj" class="form-label">CNPJ:</label>
                <input type="number" th:field="*{cnpj}" class="form-input" placeholder="Apenas números" required />
            </div>

            <div class="form-group">
                <label for="responsavel" class="form-label">Nome da pessoa responsável:</label>
                <input type="text" th:field="*{responsavel}" class="form-input" required />
            </div>

            <div class="form-group">
                <label for="email" class="form-label">Email da pessoa responsável:</label>
                <input type="email" th:field="*{email}" class="form-input" required />
            </div>

            <div class="form-group">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" th:field="*{senha}" class="form-input" required />
            </div>

            <div class="form-group">
                <label for="cep" class="form-label">CEP:</label>
                <input type="number" th:field="*{cep}" class="form-input" placeholder="Apenas números" id="cep" required />
                <label for="cep" class="form-label">Digite um CEP válido para autocompletar o endereço.</label>
            </div>

            <div class="form-group">
                <label for="logradouro" class="form-label">Logradouro:</label>
                <input type="text" th:field="*{logradouro}" class="form-input" id="logradouro" required />
            </div>

            <div class="form-group">
                <label for="numeroImovel" class="form-label">Número do imóvel:</label>
                <input type="number" th:field="*{numeroImovel}" class="form-input" required />
            </div>

            <div class="form-group">
                <label for="bairro" class="form-label">Bairro:</label>
                <input type="text" th:field="*{bairro}" class="form-input" id="bairro" required />
            </div>

            <div class="form-group">
                <label for="cidade" class="form-label">Cidade:</label>
                <input type="text" th:field="*{cidade}" class="form-input" id="cidade" required />
            </div>

            <div class="form-group">
                <label for="estado" class="form-label">Estado:</label>
                <select th:field="*{estado}" id="estado" class="form-input" required>
                    <option value="" disabled selected>Selecione o estado</option>
                    <option value="AC">Acre (AC)</option>
                    <option value="AL">Alagoas (AL)</option>
                    <option value="AP">Amapá (AP)</option>
                    <option value="AM">Amazonas (AM)</option>
                    <option value="BA">Bahia (BA)</option>
                    <option value="CE">Ceará (CE)</option>
                    <option value="DF">Distrito Federal (DF)</option>
                    <option value="ES">Espírito Santo (ES)</option>
                    <option value="GO">Goiás (GO)</option>
                    <option value="MA">Maranhão (MA)</option>
                    <option value="MT">Mato Grosso (MT)</option>
                    <option value="MS">Mato Grosso do Sul (MS)</option>
                    <option value="MG">Minas Gerais (MG)</option>
                    <option value="PA">Pará (PA)</option>
                    <option value="PB">Paraíba (PB)</option>
                    <option value="PR">Paraná (PR)</option>
                    <option value="PE">Pernambuco (PE)</option>
                    <option value="PI">Piauí (PI)</option>
                    <option value="RJ">Rio de Janeiro (RJ)</option>
                    <option value="RN">Rio Grande do Norte (RN)</option>
                    <option value="RS">Rio Grande do Sul (RS)</option>
                    <option value="RO">Rondônia (RO)</option>
                    <option value="RR">Roraima (RR)</option>
                    <option value="SC">Santa Catarina (SC)</option>
                    <option value="SP">São Paulo (SP)</option>
                    <option value="SE">Sergipe (SE)</option>
                    <option value="TO">Tocantins (TO)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="telefone" class="form-label">Telefone:</label>
                <input type="number" th:field="*{telefone}" class="form-input" placeholder="Apenas números" required />
            </div>

            <div class="form-group">
                <label for="atividadePrincipal" class="form-label">Atividade principal:</label>
                <select th:field="*{atividadePrincipal}" class="form-input" required>
                    <option value="" disabled selected>Selecione a atividade principal</option>
                    <option value="Desenvolvimento de Software">Desenvolvimento de Software</option>
                    <option value="Consultoria em TI">Consultoria em TI</option>
                    <option value="Suporte Técnico">Suporte Técnico</option>
                    <option value="Infraestrutura de TI">Infraestrutura de TI</option>
                    <option value="Desenvolvimento de Aplicativos">Desenvolvimento de Aplicativos</option>
                    <option value="Segurança da Informação">Segurança da Informação</option>
                    <option value="Big Data e Analytics">Big Data e Analytics</option>
                    <option value="Computação em Nuvem">Computação em Nuvem</option>
                    <option value="Inteligência Artificial">Inteligência Artificial</option>
                    <option value="Internet das Coisas (IoT)">Internet das Coisas (IoT)</option>
                </select>
            </div>

            <div class="form-group">
                <label for="site" class="form-label">Site:</label>
                <input type="text" th:field="*{site}" class="form-input" />
            </div>

            <div class="form-group">
                <label for="comprovanteEndereco" class="form-label">Comprovante de endereço:</label>
                <input type="file" th:field="*{comprovanteEndereco}" class="form-input" />
            </div>

            <button type="submit" class="form-button">Salvar</button>
            <button class="form-button-cancel"><a th:href="@{/form}">Cancelar</a></button>
        </form>

        <style>
            /* Remove os botões de alteração de valor nos inputs type number */
            input[type=number]::-webkit-outer-spin-button,
            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            }
        </style>
    </div>
</body>
</html>
