<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Empresas Cadastradas</title>
</head>

<body>
    <h1>Empresas Cadastradas</h1>
    <h2>Clique no nome da empresa para ver suas informações completas.</h2>

    <div th:if="${#lists.isEmpty(empresas)}">
        <p>Nenhuma empresa cadastrada</p>
    </div>

    <table border='1' th:if="${!#lists.isEmpty(empresas)}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razão social</th>
                <th>Responsável</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empresa: ${empresas}">
                <td>[[${empresa.id}]]</td>
                <td><a th:href="@{/empresas/detalhes/}+${empresa.id}" th:text="${empresa.razaoSocial}"></a></td>
                <td th:text="${empresa.responsavel}"></td>
                <td th:text="${empresa.email}"></td>
            </tr>
        </tbody>
    </table>
    <button><a th:href="@{/form}">Voltar</a></button>
</body>

</html>
