<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Lista de Empresas'">

<body>
    <div layout:fragment="content" class="container">
        <h1 class="title">Empresas Cadastradas</h1>
        
        <div th:if="${#lists.isEmpty(empresas)}">
            <h2 class="subtitle" style="display: none;">Clique no nome da empresa para ver suas informações completas.</h2>
            <p>Nenhuma empresa cadastrada</p>
        </div>

        <div th:if="${!#lists.isEmpty(empresas)}">
            <table class="offers-table list">
                <thead>
                    <tr>
                        <th>Razão social</th>
                        <th>Responsável</th>
                        <th>Atividade principal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empresa: ${empresas}">
                        <td><a th:href="@{/empresas/detalhes/}+${empresa.id}" th:text="${empresa.razaoSocial}"></a></td>
                        <td th:text="${empresa.responsavel}"></td>
                        <td th:text="${empresa.atividadePrincipal}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${paginador.currentPage == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/empresas(page=${paginador.currentPage - 1}, size=${paginador.pageSize})}">
                        Anterior
                    </a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, paginador.totalPages - 1)}"
                    th:classappend="${i == paginador.currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/empresas(page=${i}, size=${paginador.pageSize})}" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${paginador.currentPage == paginador.totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/empresas(page=${paginador.currentPage + 1}, size=${paginador.pageSize})}">
                        Próximo
                    </a>
                </li>
            </ul>
        </div>

        <button class="form-button-cancel"><a th:href="@{/coordenador/dashboard}"
                class="cancel-link">Voltar</a></button>
    </div>
</body>

</html>