<!doctype html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/fragments/base :: headfiles(${titulo}, ~{::link})}">
    <link rel="icon" th:href="@{/css/assets/pin.png}" type="image/png">
    <link rel="stylesheet" href="">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <link rel="icon" href="/css/assets/pin.png" />
    <div th:replace="~{/fragments/base ::menu}" />

    <div layout:fragment="content" class="conteudo">
        <h1>Conteúdo entra aqui</h1>
    </div>

    <div th:replace="~{/fragments/base ::footer}" />
</body>

</html>