<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Lista Candidaturas'">

<body>
    <div layout:fragment="content" class="container">

        <h1 class="title">Candidaturas</h1>

<div th:if="${candidaturas.isEmpty()}">
    <p>Nenhuma candidatura encontrada</p>
</div>

        <table class="table" th:if="${!#lists.isEmpty(candidaturas)}">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Oferta</th>
                    <th>Empresa</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
                <tr th:each="candidatura : ${candidaturas}">
                    <td><a th:href="@{/alunos/detalhes/}+${candidatura.alunoCandidato.id}"
                            th:text="${candidatura.alunoCandidato.nome}"></a></td>
                    <td><a th:href="@{/ofertas/detalhes/}+${candidatura.ofertaSelecionada.id}"
                            th:text="${candidatura.ofertaSelecionada.tituloCargo}"></a></td>
                    <td><a th:href="@{/empresas/detalhes/}+${candidatura.ofertaSelecionada.ofertante.id}"
                            th:text="${candidatura.ofertaSelecionada.ofertante.razaoSocial}"></a></td>
                    <td th:text="${candidatura.statusCandidatura}">Status</td>
                </tr>
            </tbody>
        </table>

        <button class="form-button-cancel"><a th:href="@{/coordenador/dashboard}">Voltar</a></button>
    </div>
</body>

</html>