<header class="logo-bar mb-3 p-3" th:fragment="menu">
    <img th:src="@{/css/assets/ic_estagiotracker.png}" alt="Logotipo" width="200" height="100">
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-nav">
            <button class="btn btn-light" type="button"><a class="nav-item nav-link" th:href="@{/alunos/form}">Cadastrar-se como aluno</a></button>
            <button class="btn btn-sm btn-outline-light" type="button"><a class="nav-item nav-link" th:href="@{/empresas/form}">Cadastrar-se como empresa</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-item nav-link" th:href="@{/ofertas/form}">Cadastrar uma oferta</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-item nav-link" th:href="@{/alunos}">Alunos cadastrados</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-item nav-link" th:href="@{/empresas}">Empresas cadastradas</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-item nav-link" th:href="@{/ofertas}">Ofertas cadastradas</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-item nav-link" th:href="@{/candidaturas/form}">Candidatar-se</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a class="nav-item nav-link" th:href="@{/coordenador/acesso}">Acesso do Coordenador</a></button>
        </div>
    </nav>
</header>