<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Lista de Estágios'">

<body>
    <div layout:fragment="content" class="container">
        <h1>Lista de Estágios</h1>

        <div th:if="${estagios.isEmpty()}">
            <p>Nenhum estágio cadastrado.</p>
        </div>

        <div th:if="${!estagios.isEmpty()}">
            <table class="offers-table list" -+>
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Cargo</th>
                        <th>Data de Início</th>
                        <th>Data de Término</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="estagio : ${estagios}">
                        <td th:text="${estagio.alunoAprovado.nome}"></td>
                        <td
                            th:text="|${estagio.ofertaSelecionada.tituloCargo} - ${estagio.ofertaSelecionada.ofertante.razaoSocial}|">
                        </td>
                        <td th:text="${#temporals.format(estagio.dataInicio, 'dd/MM/yyyy')}"></td>
                        <td th:text="${#temporals.format(estagio.dataFim, 'dd/MM/yyyy')}"></td>
                        <td>
                            <a th:href="@{/estagios/detalhes/{id}(id=${estagio.id})}">
                                <button class="form-button-cancel">Detalhes</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${paginador.currentPage == 0} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/estagios(page=${paginador.currentPage - 1}, size=${paginador.pageSize})}">
                            Anterior
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, paginador.totalPages - 1)}"
                        th:classappend="${i == paginador.currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/estagios(page=${i}, size=${paginador.pageSize})}"
                            th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${paginador.currentPage == paginador.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/estagios(page=${paginador.currentPage + 1}, size=${paginador.pageSize})}">
                            Próximo
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="form-button-cancel"><a th:href="@{/home}">Voltar</a></button>
    </div>
</body>

</html>