/*HEADER*/
header {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 40px 60px;
    background-color: #006633;
    font-size: 12px;
    display: flex;
}

header h2 {
    font-size: 40px;
    text-align: center;
}

header nav li {
    margin: 0 14px;
    text-decoration: none;
}

header li:first-child {
    margin-left: 10px;
}
header li:last-child {
    margin-right: 10px;
}