<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<body>
<div layout:fragment="content">
    <h2>Identifique-se consulta seus inf:</h2>
    <form action="#" th:action="@{/identificar}" method="post">
        <div>
            <label for="emailFiltro">Insira o seu email de cadastro:</label>
            <input type="email" id="emailFiltro" name="emailFiltro" required>

        </div>
        <div>
            <button type="submit" class="btn btn-sm btn-outline-secondary">Pesquisar</button>
        </div>
    </form>

    <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
</div>
</body>

</html>