<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Erro - Empresa Bloqueada'">

    <div layout:fragment="content" class="container">
    <h1 class="title">Oops! Sua Empresa está Bloqueada</h1>

    <div class="alert">
        <p th:text="${message}">Sua empresa está bloqueada e não pode cadastrar ofertas. Entre em contato com o suporte.</p>
    </div>

    <div class="support-message">
        <p>Entre em contato com o suporte para mais informações:</p>
        <p>Email: <a href="mailto:suporte@estagiotracker.com">suporte@estagiotracker.com</a></p>
        <p>Telefone: (00) 0000-0000</p>
    </div>

    <div class="center-container">
        <a class="error-button" th:href="@{/home}">Voltar para a página inicial</a>
    </div>
</div>
</html>
