<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EstagioTrack</title>
</head>
<body>
<h2>Bem vindo ao estagioTrack, dev!</h2>
<button><a th:href="@{/alunos/form}">Cadastrar-se como aluno</a></button>
<button><a th:href="@{/empresas/form}">Cadastrar-se como empresa</a></button>
<h3>Já possui uma conta? Faça login ✔</h3>
 <button><a th:href="@{/login}">Fazer login</a></button>
</body>
</html>


<!--
Para acessar a página inicial:
http://localhost:8080/estagioTrack/

Para acessar a página de formulário para cadastro de aluno:
http://localhost:8080/estagioTrack/alunos/form

Para acessar a lista de alunos cadastrados:
http://localhost:8080/estagioTrack/alunos/save
-->