<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
    <div layout:fragment="content" class="container">
        <h3 class="title">Encontre hoje mesmo o seu estágio em tecnologia!</h3>
        <div class="container-start">
        <button class="start-button">
            <a th:href="@{/alunos/form}" class="start-button-link">Comece Aqui</a>
        </button>
        </div>
    </div>
</body>
</html>