<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EstagioTrack</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>

    <div th:replace="~{/fragments/base ::menu}" />


    <h3>Já possui uma conta? Faça login ✔</h3>
    <button class="btn btn-light" type="button"><a th:href="@{/login}">Fazer login</a></button>

</body>
</html>

<!--
Para acessar a página inicial:
http://localhost:8080/estagioTrack/

Para acessar a página de formulário para cadastro de aluno:
http://localhost:8080/estagioTrack/alunos/form

Para acessar a lista de alunos cadastrados:
http://localhost:8080/estagioTrack/alunos/save
-->