<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" th:with="titulo='Detalhes da Oferta'">

<body>
    <div layout:fragment="content" class="container">

        <div th:if="${success}" class="alert alert-success" id="successPopup">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${jaEstagiaError}" class="alert">
            <p th:text="${jaEstagiaError}"></p>
        </div>

        <h1 class="title">Detalhes da Oferta</h1>
        <div class="details">
            <p>Cargo: <strong><span th:text="${oferta.tituloCargo}"></span></strong></p>
            <p>Empresa: <strong><span th:text="${oferta.ofertante.razaoSocial}"></span></strong></p>
            <p>Email: <strong><span th:text="${oferta.emailOfertante}"></span></strong></p>
            <p>Atividade principal: <strong><span th:text="${oferta.atividadePrincipal}"></span></strong></p>
            <p>Valor da bolsa: <strong><span th:text="' R$' + ${oferta.valorBolsa}"></span></strong></p>
            <p>Carga horária: <strong><span th:text="${oferta.cargaHoraria} + ' horas'"></span></strong></p>
            <p>Vale-transporte: <strong><span th:text="${oferta.valeTransporte}"></span></strong></p>
            <p>Requisitos: <strong><span th:text="${oferta.requisitos}"></span></strong></p>
            <p>Competências necessárias: <strong><span th:text="${oferta.competencias}"></span></strong></p>
            <p>Status: <strong><span th:text="${oferta.statusOferta}"></span></strong></p>
        </div>

        <div th:if="${!#lists.isEmpty(candidaturas)}">
            <h2  style="font-size: 26px; text-align: center;">Candidatos</h2>
            <div class="candidatos">
                <table class="offers-table listofertas">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="candidatura: ${candidaturas}">
                            <td th:text="${candidatura.alunoCandidato.nome}"></td>
                            <td th:text="${candidatura.emailCandidato}"></td>
                            <td th:text="${candidatura.statusCandidatura}"></td>
                            <td sec:authorize="hasRole('ROLE_EMPRESA')" style="text-align: center">
                                <a th:if="${candidatura.statusCandidatura.name() == 'PENDENTE'}" th:href="@{/estagios/form/{candidaturaId}(candidaturaId=${candidatura.id})}">
                                    <button type="submit" class="form-button listofertas" th:if="${oferta.statusOferta.name() == 'ABERTA'}">Aprovar</button>
                                </a>
                                <span th:if="${candidatura.statusCandidatura.name() != 'PENDENTE'}" >-</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <button class="form-button-cancel listofertas">
            <a th:href="@{/home}" class="cancel-link listofertas">
                Voltar para home
            </a>
        </button>
        <button class="form-button-cancel">
            <a th:href="@{/ofertas}" class="cancel-link">Voltar para lista</a>
        </button>
    </div>
</body>

</html>