<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<body>
    <div layout:fragment="content">
        <h1>Ofertas Cadastradas</h1>

        <div th:if="${#lists.isEmpty(ofertas)}">
            <p>Nenhuma oferta cadastrada</p>
        </div>

        <table border='1' th:if="${!#lists.isEmpty(ofertas)}">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ofertante</th>
                    <th>Cargo</th>
                    <th>Valor da bolsa</th>
                    <th>Turno</th>
                    <th>Status</th>
                    <th colspan="3">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="oferta: ${ofertas}">
                    <td>[[${oferta.id}]]</td>
                    <td th:text="${oferta.ofertante.razaoSocial}"></td>
                    <td th:text="${oferta.tituloCargo}"></td>
                    <td th:text="${oferta.valorBolsa}"></td>
                    <td th:text="${oferta.turno}"></td>
                    <td th:text="${oferta.statusOferta}"></td>

                    <td th:if="${oferta.statusOferta.name() == 'ABERTA'}">
                        <form th:action="@{/ofertas/desativar}" method="post" style="display:inline;">
                            <input type="hidden" name="ofertaId" th:value="${oferta.getId()}" />
                            <button type="submit">Encerrar</button>
                        </form>
                    </td>

                    <td th:if="${oferta.statusOferta.name() == 'ENCERRADA'}">
                        <form th:action="@{/ofertas/reativar}" method="post" style="display:inline;">
                            <input type="hidden" name="ofertaId" th:value="${oferta.getId()}" />
                            <button type="submit">Reativar</button>
                        </form>
                    </td>


                    <td>
                        <form th:action="@{/candidaturas/form}" method="post" style="display:inline;">
                            <input type="hidden" name="ofertaId" th:value="${oferta.getId()}" />
                            <button type="submit">Candidatar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <button><a th:href="@{/form}">Voltar</a></button>
    </div>
</body>

</html>
