<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ofertas Cadastradas</title>
</head>
<body>
    <h1>Ofertas Cadastradas</h1>
    <table border='1'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ofertante</th>
                <th>Cargo</th>
                <th>Valor da bolsa</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="oferta: ${ofertas}">
                <td>[[${oferta.id}]]</td>
                <td th:text="${oferta.ofertante.razaoSocial}">
                <td th:text="${oferta.tituloCargo}"></td>
                <td th:text="${oferta.valorBolsa}"></td>
                <td th:text="${oferta.turno}"></td>
            </tr>
        </tbody>
    </table>
    <button><a th:href="@{/form}">Voltar</a></button>
</body>
</html>